{% extends 'emer_econ_app/header.html' %} {% load static %} {% block content %}
<div id="error" class="p-3" style="height:50vh;width:100vw;">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div>
      <h1 class="my-auto">Database Refresh Successful</h1><br>
      <h4 class="my-auto d-block">Most Recent Database update: <strong id="last-refresh-time"></strong></h4><br>
      <a class=" retry-button btn btn-primary p-3 m-3 d-block" href="{% url 'dashboard' %}" role="button">Go to Dashboard</a>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $.ajax({
      url: "/refreshDatabase",
      success: function (result) {
        document.getElementById('last-refresh-time').innerHTML=result
        var preloader = document.getElementById("loading");
        setInterval(() => {
          preloader.style.display = "none";
        }, 1000);
      },
      error: function (result) {
        console.log("error");
        var preloader = document.getElementById("loading");
        window.location.href = "/errorPage";
        preloader.style.display = "none";
      },
    });
  });
</script>
{% endblock content %}
